<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CVE</title>

</head>

<body>

  <h1>{{cve[0]}}</h1>
  <br>
  <h3>Description</h3>
  <p>{{cve[-1]}}</p>
  <br>
  <h3>CVSS V2 METRICS</h3>
  <p><bold>Severity: </bold> {{ metrics[1] }}</p>
  <p><bold>Score: </bold> {{ metrics[2] }}</p>
  <p><bold>Vector String: </bold> {{ metrics[3] }}</p>

  <table>
    <thead>
      <th>Access Vector</th>
      <th>Access Complexity</th>
      <th> Authentication</th>
      <th>Confidentiality Impact</th>
      <th>Integrity Impact</th>
      <th>Availability Impact</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ cvssData[0] }}</td>
        <td> {{ cvssData[1] }} </td>
        <td> {{ cvssData[2] }} </td>
        <td>{{cvssData[3]}}</td>
        <td>{{ cvssData[4] }}</td>
        <td>{{ cvssData[5] }}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>