<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CVE</title>

</head>

<body>

  <h1>{{cve.cve_id}}</h1>
  <br>
  <h3>Description</h3>
  <p>{{cve.configurations}}</p>
  <br>
  <h3>CVSS V2 METRICS</h3>
  <p><bold>Severity: </bold> {{ metrics.base_severity }}</p>
  <p><bold>Score: </bold> {{ metrics.base_score }}</p>
  <p><bold>Vector String: </bold> {{ metrics.vector_string }}</p>

  <table>
    <thead>
      <th>Access Vector</th>
      <th>Access Complexity</th>
      <th> Authentication</th>
      <th>Confidentiality Impact</th>
      <th>Integrity Impact</th>
      <th>Availability Impact</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ metrics.access_vector }}</td>
        <td> {{ metrics.access_complexity }} </td>
        <td> {{ metrics.authentication }} </td>
        <td>{{ metrics.confidentiality_impact }}</td>
        <td>{{ metrics.integrity_impact }}</td>
        <td>{{ metrics.availability_impact }}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>