<!--{% extends "layout.html" %}-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CVE Page</title>

</head>

<body>
<h1>CVE Page</h1>
{% block content %}
        <table class="table">
            <thead>
                <th>CVE ID</th>
                <th>IDENTIFIER</th>
                <th>PUBLISHED DATE</th>
                <th>LAST MODIFIED DATE</th>
                <th>STATUS</th>
            </thead>
            <tbody>
                {% for cve in cves %}
                    <tr>
                        <td><a href="{{url_for('cve', id=cve[0])}}">{{cve[0]}}</a></td>
                        <td>{{ cve[1] }}</td>
                        <td>{{ cve[2] }}</td>
                        <td>{{ cve[3] }}</td>
                        <td>{{ cve[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock content %}
</body>

</html>