<!--{% extends "layout.html" %}-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CVE Page</title>

</head>

<body>
<h1>CVE Page</h1>
{% block content %}
        <table class="table">
            <thead>
                <td>CVE ID</td>
                <td>IDENTIFIER</td>
                <td>PUBLISHED DATE</td>
                <td>LAST MODIFIED DATE</td>
                <td>STATUS</td>
            </thead>
            <tbody>
                {% for cve in cves %}
                    <tr>
                        <td><a href="{{url_for('cve', cve_id=cve.id)}}">{{cve.id}}</a></td>
                        <td>{{ cve.source_identifier }}</td>
                        <td>{{ cve.published_date }}</td>
                        <td>{{ cve.last_modified_date }}</td>
                        <td>{{ cve.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock content %}
</body>

</html>